@model Project_63131631.Areas.Administrator.Models.Producer_63131631

@{
    ViewBag.Title = "Cập nhật hãng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Cập nhật hãng</h2>

@using (Html.BeginForm("Edit", "Producer_63131631", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.pdcID)

    @if (!string.IsNullOrEmpty(ViewBag.CreateProError))
    {
        <div class="text-success" style="margin-left: 15px; border: 1px solid black; margin-right: 15px; padding: 20px; background-color: honeydew;">
            @ViewBag.CreateProError
        </div>
    }
<div class="form-group col-lg-5">
    <label>Tên hãng</label>
    @Html.EditorFor(model => model.pdcName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên hãng..." } })
    <div class="text-danger">@Html.ValidationMessageFor(model => model.pdcName)</div>
    <label>Số điện thoại</label>
    @Html.EditorFor(model => model.pdcPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập số điện thoại..." } })
    <div class="text-danger">@Html.ValidationMessageFor(model => model.pdcPhone)</div>

    <label>Email</label>
    @Html.EditorFor(model => model.pdcEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập email..." } })
    <div class="text-danger">@Html.ValidationMessageFor(model => model.pdcEmail)</div>

    <label>Địa chỉ</label>
    @Html.TextAreaFor(model => model.pdcAddress, new { @class = "form-control", @placeholder = "Nhập địa chỉ..." })
    <div class="text-danger">@Html.ValidationMessageFor(model => model.pdcAddress)</div>

    <label>Thông tin</label>
    @Html.TextAreaFor(model => model.pdcInfo, new { @class = "form-control", @placeholder = "Nhập thông tin hãng..." })
    <div class="text-danger">@Html.ValidationMessageFor(model => model.pdcInfo)</div>

    <label>Hình ảnh</label>
    <input type="file" id="file" name="file" />
    @Html.HiddenFor(model => model.pdcPhoto)
    <br />

    <a style="color: white; background-color: black; width: 190px; margin-left: 23px; border-radius: 35px " class="btn btn-info add-new" href="@Url.Action("Index")" role="button"><i class=""></i>Quay Lại</a>
    <button style="color: white; background-color: black; width: 168px;border-radius:35px" type="submit" class="btn btn-info add-new">Cập Nhật</button>
</div>
</div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
